.portfolio-project{
    height: 100vh;
    position: relative;

    &__bg{
        display: inline-block;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.2));
        
        & img{
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            z-index: -1;
        }
    }

    & .container{
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        color: white;
        justify-content: space-evenly;
    }

    &__title{
        text-transform: uppercase;
        color: white;
        text-align: center;
        text-shadow: 2px 2px 1px #000;
        margin: 0;
    }


    &__task{
        display: flex;
        justify-content: space-between;
    }

    &__list{
        list-style: ">    ";
        line-height: 2;
        font-weight: 300;
        max-height: 50vh;
        overflow: hidden;
        & *{

            text-shadow: -1px -1px 1px black;
        }
    }

    &__logo{
        align-self: center;
        background: radial-gradient(rgba(255,255,255, 1), rgba(255,255,255, 0));
        padding: 1rem;
        border-radius: 10%;
        border: 1px solid rgba(255,255,255, 0);

        @include hover{
            border: 1px solid rgba(255,255,255, 1);
        }
    }

    &__btn{
        text-align: right;
        padding-bottom: 10vh;
    }

}

.portfolio{
    font-size: 0;

    & .swiper-container-horizontal > .swiper-pagination-bullets{
        bottom: 2vh;
    }
    
    
    & .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 .2rem;
    }
    
    & .swiper-pagination-bullet {
        width: 5rem;
        height: 5rem;
        border: none;
        opacity: 1;
        background: rgba(0, 0, 0,0);
        position: relative;

        @include hover{
            &:after{
                border: 2px solid $brand-color;
            }
        }

        &:after{
            content: "";
            display: inline-block; 
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 100%;
            background: rgba(0,0,0,.3);
            border: 1px solid $brand-color;
            @include tr;
        }
    }

    & .swiper-pagination-bullet-active {

        @include hover{
            &:after{
                border: 1px solid $brand-color;
            }
        }
        &:after{
            background: $brand-color; 
        }
    }
}


@media screen and (max-width: 518px){
    .portfolio-project__logo{
        display: none;
    }
}

@media screen and (max-height: 400px){
    .portfolio-project{
        &__list{
            display: none;
        }

        &__task{
            justify-content: space-around;
        }
    }
}