.logo{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;

    & img{
        height: 9rem;
    }

    &__link {
        display: inline-block;
        padding: 1rem;
    }
}

.main-menu{
    position: absolute;
    left: 100%;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    user-select: none;

    &__burger{
        left: -6rem;
        top: 2rem;
        position: relative;
        font-size: 0;
        display: inline-block;
        width: 5rem;
        height: 5rem;
        cursor: pointer;
        overflow: hidden;
        z-index: 3;

        @include hover{
            & i{
                border-color: $brand-color;
                box-shadow: 1px 1px 0 $support-color;
            }
        }

        & i{
            position: absolute;
            z-index: -1;
            display: inline-block;
            width: 85%;
            border: 1px solid $text-color;
            border-radius: 2px;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
            @include tr;

            &:first-child{
                top: 20%;
            }

            &:last-child{
                top: 80%;
            }
        }
    }

    & .menu{
        position: absolute;
        display: inline-block;
        left: 0%;
        width: 100%;
        height: 100%;
        @include tr;

        &__cover{
            display: inline-block;
            position: absolute;
            background-color: rgba(255, 255, 255, 0);
            width: 100%;
            height: 100%;
            @include tr;
        }

        & ul{
            display: inline-block;
            list-style: none;
            padding: 1rem 3rem 3rem 5rem;
            margin: 0;
            height: 100%;
            width: 20rem;
            background-color: $menu-color;
            color: $support-color;
            text-shadow: 1px 1px 0px black;
            text-transform: uppercase;
            letter-spacing: .2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                & {
                    padding-top: 3rem;
                }
            }

            @supports (-ms-ime-align: auto) {
                & {
                    padding-top: 3rem;
                }
            }

            & li{
                position: relative;

                & a{
                    display: inline-block;
                    width: 100%;
                    @include hover{
                        color: $brand-color;
                        text-shadow: 1px 1px 0px black;
                    }

                    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                        & {
                            padding: 4rem 0 .5rem 0;
                        }
                    }

                    @supports (-ms-ime-align: auto) {
                        & {
                            padding: 4rem 0 .5rem 0;
                        }
                    }
                }

                &:after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    border-bottom: 1px solid rgb(177, 177, 177);
                    border-top: 1px solid black;
                    left: 0;
                    bottom: -1rem;
                }

            }
        }
    }

    &--open{

        & .main-menu__burger{

            @include hover{
                & i{
                    border-color: $brand-color;
                    box-shadow: 0px 0px 0 $support-color;
                }
            }
    
            & i{
                border: 1px solid $support-color;
                left: -100%;

    
                &:first-child{
                    top: 50%;
                    left:50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                }
    
                &:last-child{
                    top: 50%;
                    left:50%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
        } 

        & .menu{
            left: -20rem;
            
            &__cover{
                left: -100%;
                background-color: rgba(0, 0, 0, 0.3);
            }
        }
    }
}

@media screen and (min-width: 576px){
    .logo{
        & img{
            height: 12rem;
        }
    }
}

@media screen and (min-width: 768px){
    
}

@media screen and (min-width: 992px){
   
}