@keyframes shine{
    50% {
        opacity: 1;
        top: 110%;
        left: 210%;
        transition-property: left, top, opacity;
        transition-duration: 0.7s, 0.7s, 0.15s;
        transition-timing-function: ease;
    }
    100% {
        opacity: 0;
        top: 110%;
        left: 210%;
        transition-property: left, top, opacity;
    }
}

.hero{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .7) 70%);
    &__main{
        // outline: 1px solid rgba(255, 255, 0, 0.308);
        position: absolute;
        // width: 75%;
        transform: translate(0, -50%);
        right: 0;
        top: 50%;
        text-align: right;
    }

    &__title {
        padding: .5rem 0 .5rem 2rem;
        margin-right: 1rem;
        background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .7) 70%);
        border: 4px solid;
        border-image-slice: 1;
        border-width: 3px 0px 3px 3px;
        border-image-source: linear-gradient(to left, rgba(0,0,0,0), $text-color);
        display: inline-block;
        margin-bottom: 1.5rem;
        white-space: nowrap;
    }

    &__input{
        display: inline-block;
        padding: 1.4rem 5rem .6rem 1rem;
        cursor: pointer;
        position: relative;
        font-size: 1.5rem;
        line-height: 1;
        border-bottom: 2px solid rgb(102, 102, 102);
        letter-spacing: .1rem;
        background-image: linear-gradient(to top, rgba(255, 192, 109, 0.7) 0%, rgba(255, 255, 255, 0.7) 20%, rgba(255, 255, 255, 0));

        &::before, &::after{
            @include tr;
            position: absolute;
            content: '';
            display: inline-block;
            border: 1px solid rgb(102, 102, 102);
            height: 0rem;
            bottom: -2px;
        }

        &::before{
            left: 0;
        }

        &::after{
            right: 0;
        }

        @include hover{
            &::before, &::after{
                height: 50%;
            }
        }
    }

    // form{
    //     outline: 1px solid purple;
    // }

    &__btn{
        // outline: 1px solid orange;
        color: $text-color;
        font-weight: 700;
        text-transform: uppercase;
        padding: 1.4rem 1rem .6rem;
        background: rgba(0, 0, 0, 0);
        border: none;
        cursor: pointer;
        letter-spacing: .1rem;
        font-size: 1.5rem;
        border: 1px solid rgba(51, 51, 51, 0);
        line-height: 1;
        overflow: hidden;

        @include hover{
            box-shadow:  inset 0 0 5px $brand-color         ;
        }
    }
}

.file-input{
    // outline: 1px solid green;
    display: inline-block;
    position: relative;
    margin-right: 2rem;
    overflow: hidden;
    vertical-align: top;
    background: none;

    &:not(:hover):not(:focus):not(:active){
        &:after {
  
            animation: shine 5s ease-in-out  infinite;
            animation-fill-mode: forwards;  
            content: "";
            position: absolute;
            top: -110%;
            left: -210%;
            width: 200%;
            height: 200%;
            opacity: 0;
            transform: rotate(-70deg);
            
            background: rgba(255, 255, 255, 0.13);
            background: linear-gradient(
              to top, 
              rgba(255, 255, 255, 0.13) 0%,
              rgba(255, 255, 255, 0.13) 77%,
              rgba(255, 255, 255, 0.7) 92%,
              rgba(255, 255, 255, 0.0) 100%
            );
        }
    }
      

    &__input{
        z-index: -1;
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;

        &:focus+.hero__input{
            &::before, &::after{
                height: 30%;
            }
        }
    }
}


@media screen and (min-width: 576px){
    .hero{
        &__main{
            margin-right: 1.5rem;
            // right: rem;
        }

        &__title {
            padding: .5rem 0 .5rem 2.5rem;
            margin-right: 1.5rem;
            border-width: 4px 0px 4px 4px;
            margin-bottom: 2rem;
        }

        &__input{
            font-size: 1.8rem;
            letter-spacing: .2rem;
        }

        &__btn{
            font-size: 1.8rem;
            letter-spacing: .1rem;
        }
    }
}

@media screen and (min-width: 768px){
    .hero{
        &__main{
            margin-right: 2rem;
        }

        &__title {
            padding: .5rem 0 .5rem 3rem;
            margin-right: 2rem;
            border-width: 5px 0px 5px 5px;
            margin-bottom: 3rem;
        }

        &__input{
            font-size: 2rem;
            letter-spacing: .3rem;
        }

        &__btn{
            font-size: 2rem;
            letter-spacing: .2rem;
        }
    }
}

@media screen and (min-width: 992px){
    .hero{
        &__main{
            margin-right: 2rem;
        }

        &__title {
            padding: .5rem 0 .5rem 3rem;
            margin-right: 2rem;
            border-width: 5px 0px 5px 5px;
            margin-bottom: 3rem;
        }

        &__input{
            font-size: 2.2rem;
            letter-spacing: .35rem;
        }

        &__btn{
            font-size: 2.2rem;
            letter-spacing: .25rem;
        }
    }
}

// @media screen and (min-width: 1200px){
//     .hero{
//         &__title {
//             padding: 1rem 0 1rem 4rem;
//             margin-right: 3rem;
//             border-width: 6px;
//             margin-bottom: 5rem;
//         }
//     }
// }