<!DOCTYPE html>
<html>
<head>
    <%= _.template(require('./../../includes/head.html').default)() %>
    <title>| RemBud MGM</title>
</head>
<body>
    <div class="body">
        <%= _.template(require('./../../includes/header/en/header.html').default)() %>

        <%= _.template(require('./../../includes/home/en/hero.html').default)() %>

        <%= _.template(require('./../../includes/footer.html').default)() %>
        <%= _.template(require('./../../includes/home/svg-sprite.html').default)() %>
        <%= _.template(require('./../../includes/svg-sprite.html').default)() %>
        <%= _.template(require('./../../includes/foot.html').default)() %>
    
    </div>
</body>
</html>