@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Raleway:400,500|Roboto:700,900&display=swap');

// @font-face {
//     font-family: 'Raleway';
//     src: url('../fonts/raleway/Raleway-Medium.woff2') format('woff2'), url('../fonts/raleway/Raleway-Medium.woff') format('woff'), url('../fonts/raleway/Raleway-Medium.otf') format('otf'), url('../fonts/raleway/Raleway-Medium.ttf') format('ttf');
//     font-weight: 500;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Raleway';
//     src: url('../fonts/raleway/Raleway-Regular.woff2') format('woff2'), url('../fonts/raleway/Raleway-Regular.woff') format('woff'), url('../fonts/raleway/Raleway-Regular.otf') format('otf'), url('../fonts/raleway/Raleway-Regular.ttf') format('ttf');
//     font-weight: 400;
//     font-style: normal;
// }


$brand-color: #f8931d;
$support-color: #e6e8e7;
$text-color: #333;
$title-color: #666;


$b-size: 1px;

$text-ff: 'Raleway', sans-serif;
$title-ff: 'Roboto', sans-serif;
$btn-ff: 'Open Sans', sans-serif;