@import 'normalize';

@import 'variables';

@import 'mixins';

* {
    box-sizing: border-box;
    outline: none;
    color: inherit;
}
html {
    height: 100%;
    font-size: 10px;
}

a,
button {
    transition: all .25s ease-in-out;
    text-decoration: none;
}

body {
    @include font(1.4rem, $text-color, 900, $text-ff, 1.8);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-color: $menu-color;
}

.body{
    position: relative;
    min-height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    padding: 0 1rem;
}

.section{
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.bg{
    user-select: none;
    & img{
        z-index: -1;
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        transform: translate(0, -50%);
        right: 0;
        top: 50%;
        width: 100%;

        @media screen and (max-aspect-ratio: 1600/952) { 
            & {
                width: auto;
                height: 100%;
            }
        }
    }
}
h1{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    @include font(2.5rem, $text-color, 700, $title-ff, 1.8);
    letter-spacing: .2rem;
}

.btn{
    background: rgba(0,0,0,.5);
    color: $brand-color;
    padding: 1rem 2.5rem 1rem 2rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .3rem;
    border: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    text-shadow: 0px 0px 0px #000;
    
    border-image-source: linear-gradient(to right, rgba(0,0,0,1) 0%, $brand-color 30%, #fff 50%, $brand-color 70%, rgba(0,0,0,1) 100%);
    cursor: pointer;
    box-shadow: inset 0 0 10px #fff;

    @include hover{
        // border-image-source: linear-gradient(to right, #fff 0%, $brand-color 30%, rgba(0,0,0,1) 50%, $brand-color 70%, #fff 100%);
        box-shadow: inset 0 0 10px $brand-color;
        text-shadow: 0px -1px 2px #000;
        // background-color: #e6e8e781;
        // text-shadow: 1px 1px 0 #000;
    }
}

.scroll{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5rem;
    height: 5rem;
    border: 1px solid $text-color;
    border-radius: 50%;

    & svg{
        position: absolute;
        transform: translate(-50%, -50%) rotate(180deg);
        left: 50%;
        top: 53%;
        @include tr;
        width: 3rem;
        height: 3rem;
        fill: $text-color;
    }

    @include hover {
        background-color: rgba(0, 0, 0, 0.6);

        & svg{
            @include tr;
            fill: $support-color;
        }
    }

    &__box{
        position: relative;
        width: 100%;
        height: 100%;
    }
}

.svg-sprite{
    display: none;
}

@media screen and (min-width: 576px){
    h1{
        font-size: 3rem;
        letter-spacing: .3rem;
    }
}

@media screen and (min-width: 768px){
    h1{
        font-size: 3.5rem;
        letter-spacing: .4rem;
    }
}

@media screen and (min-width: 992px){
    h1{
        font-size: 4rem;
        letter-spacing: .4rem;
        font-weight: 700;
    }
}

// @media screen and (min-width: 1200px){
//     h1{
//         font-size: 5rem;
//         letter-spacing: .5rem;
//         font-weight: 700;
//     }
// }

@import 'pages/home';

@import 'pages/header';